*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/*
/sample/build/*
/sample/build
/kalendar/build
/kalendar-core/build
/kalendar/build/*
/kalendar-core/build/*
