name: Scan code with detekt

on: push

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: ./gradlew detekt
      - uses: github/codeql-action/upload-sarif@v1
        if: always()
        with:
          sarif_file: build/reports/detekt/merge.sarif